*.gem
*.rbc
.bundle
lib/stolen_sleigh/stolen_sleigh.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
data/*.csv
data/*.dat
output/*.csv
**/.DS_Store
